{% extends 'base.html' %}

{% block title %}About Us{% endblock title %}

{% block body %}

<h1 class="font-monospace text-center my-4"><b><i><u>About Us</u></i></b></h1>
<div class="container my-4">
    <p class="mx-4">
    We are selling world best chocolates on our website that you may not find anywhere. 
    We have large range of chocolates available on our website. You can select chocolates
    from our best collections of chocolates. You can choose dark chocolate, white chocolate,
    belgium chocolate, swiss chocolate etc from our range of chocolates. If you have any query 
    you can directly contact us. <br><br><br>For contacting us click on the following link to contact us 
    <a href="/contact">Contact Us</a>
    </p>
</div>

{% endblock body %}